<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Stephen Mizell - <%= current_article.title %></title>
    <meta name="description" content="Stephen Mizell, smizell">
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag "main" %>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <%= javascript_include_tag  "all" %>

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700,400italic" />
    <link rel="canonical" href="http://smizell.com<%= current_article.url %>" />
  </head>
  <body>
    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="weblog hfeed">
      
      <article role="article" class="hentry" itemscope itemtype="http://schema.org/BlogPosting">
        <header>
          <span class="byline">
            <span class="vcard author" itemprop="author" itemscope itemtype="http://schema.org/Person">
              <a href="/" rel="author" class="fn" itemprop="url">Stephen Mizell</a>
            </span>
            &bull;
            Posted 
            <time class="published updated" itemprop="dateCreated" datetime="<%= current_article.date.iso8601 %>">
              <%= current_article.date.strftime('%B %e, %Y') %>
            </time>
          </span>
          <h1 itemprop="name headline" class="entry-title"><%= widont(current_article.title) %></h1>
        </header>

        <section itemprop="articleBody" class="entry-content">
          <%= yield %>
        </section>
      </article>
    </div>
</body>
</html>