---
title: Homepage
layout: homepage
---

<section class="main">
  <p class="epsilon">
    My name is Stephen Mizell, and this is my personal homepage. I currently work in the world of manufacturing where I create simple and elegant solutions to complicated problems.
  </p>
</section>

<% if !blog.articles.empty? %>
  <section class="weblog-latest content">
    <h2>Latest Posts</h2>
    <ul>
      <% blog.articles[0...5].each do |article| %>
        <li itemscope itemtype="http://schema.org/BlogPosting">
          <h3>
            <a href="<%= article.url %>" itemprop="url">
              <span itemprop="name headline"><%= article.title %></span>
            </a>
            <time itemprop="dateCreated" datetime="<%= article.date.iso8601 %>"><%= article.date.strftime('%B %e, %Y') %></time>
          </h3>
          <div itemprop="description">
            <%= article.summary(250, '...') %>
          </div>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>

